<!--partial code taken from : https://bootstrapmade.com/-->
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <center>
                <h3><a href="https://www.youtube.com/c/diegoestradabeltran">video to see this app/website working:</a></h3>
                <h2>Services Portfolio</h2>
                <p>Our services</p>
            </center>
        </div>
        <!--
    <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
        <li data-filter="*" class="filter-active">All</li>
        <li data-filter=".filter-app">App</li>
        <li data-filter=".filter-card">Card</li>
        <li data-filter=".filter-web">Web</li>
    </ul>
        -->

        <div class="row portfolio-container" data-aos="fade-up">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img"><img src="https://cdn.pixabay.com/photo/2014/08/05/10/30/iphone-410324_960_720.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Mobile Apps</h4>
                    <p>provided by <a href="{{link}}" target="_blank">{{owner}}</a></p>
                    <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="https://cdn.pixabay.com/photo/2016/12/01/18/17/mobile-phone-1875813_960_720.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Mobile Games</h4>
                    <p>provided by <a href="{{link}}" target="_blank">{{owner}}</a></p>
                    <a href="assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img"><img src="https://cdn.pixabay.com/photo/2017/11/27/21/31/computer-2982270_960_720.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>PC Apps</h4>
                    <p>provided by <a href="{{link}}" target="_blank">{{owner}}</a></p>
                    <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-img"><img src="https://cdn.pixabay.com/photo/2015/05/31/15/07/business-792113_960_720.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>App Design</h4>
                    <p>provided by <a href="{{link}}" target="_blank">{{owner}}</a></p>
                    <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_960_720.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Website Development</h4>
                    <p>provided by <a href="{{link}}" target="_blank">{{owner}}</a></p>
                    <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img"><img src="https://cdn.pixabay.com/photo/2016/06/03/12/37/internet-search-engine-1433323_960_720.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Web site promotion</h4>
                    <p>provided by <a href="{{link}} target=" _blank"">{{owner}}</a></p>
                    <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-img"><img src="https://cdn.pixabay.com/photo/2017/11/15/22/38/desert-2952787_960_720.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Computer Vision</h4>
                    <p>provided by <a href="{{link}}" target="_blank">{{owner}}</a></p>
                    <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-img"><img src="https://cdn.pixabay.com/photo/2014/11/17/03/15/business-idea-534228_960_720.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>It Consultant</h4>
                    <p>provided by <a href="{{link}}" target="_blank">{{owner}}</a></p>
                    <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="https://cdn.pixabay.com/photo/2016/02/11/09/53/doctor-1193318_960_720.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>AI Solutions</h4>
                    <p>provided by <a href="{{link}}" target="_blank">{{owner}}</a></p>
                    <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->